.App {
  /* text-align: center; */
}

.App-header {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: crimson;
  text-align: left;
  font-weight: 100px;
}

.App-logo {
  /* display: inline;
  height: auto;
  pointer-events: none; */
  align-self: flex-start;
}

.H1 {
  margin-top: 120px;
}


.App-body {
  padding: 20px;
  border-top: 4px solid crimson;
  border-bottom: 4px solid crimson;
  height: 300px;
  text-align: left;
}

.form-all {
  display: flex;
  align-items: flex-start;
}

.input-container {
  margin-right: 10px; /* Add margin between input elements */
}

input[type="email"],
input[type="password"] {
  margin-right: 10px; /* Add margin between input elements */
}
.App-footer {
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-style: italic;
}